<h1>உதகமண்டலம்</h1>
<p>ஊட்டி என்றும், உதகை என்றும் அழைக்கப்படும் உதகமண்டலம். <B>தென்னிந்திய மாநிலமான தமிழகத்தில் நீலகிரி மலையில் அமைந்துள்ள ஒரு நகராட்சி ஆகும்.</B> இதுவே நீலகிரி மாவட்டத்தின் தலைநகரமுமாகும்.

  இது கடல் மட்டத்திலிருந்து 7347 அடி (2239 மீ) உயரத்தில் உள்ளதால் குளுமையாக உள்ளது.</p>
  <hr>
  <h2><u>ஊட்டி சுற்றுலா இடங்கள்</u> </h2>
  <ul>
    <li>தொட்டபெட்டா</li>
    <li>பைகாரா</li>
    <li>அவிலஞ்சி </li>
    <li> சில்ட்ரன்ஸ் பார்க்</li>
    <li>லேடி கானிங் சீட்</li>
  </ul>
  
<router-outlet></router-outlet>
